.container#content {
  margin-top: 60px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@keyframes bgcolor {
  0% {
    background-color: #ff2153;
  }

  30% {
    background-color: #f9eb0f;
  }

  60% {
    background-color: #10e7e2;
  }

  90% {
    background-color: #ca7cd8;
  }

  100% {
    background-color: #3968cb;
  }
}

@keyframes navbarfont {
  0% {
    color: #ff2153;
  }

  30% {
    color: #f9eb0f;
  }

  60% {
    color: #10e7e2;
  }

  90% {
    color: #ca7cd8;
  }

  100% {
    color: #3968cb;
  }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  font-family: system-ui;
}

a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  -webkit-animation: navbarfont 20s infinite;
  animation: navbarfont 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  font-family: system-ui;
  font-weight: bolder;
  text-transform: uppercase;

  &:hover {
    background-color: black;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.navbar img {
  padding-bottom: 5px;
}

.my-post {
  font-family: system-ui;
}

.my-card {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.my-card-side {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.my-button {
  border: 3px solid purple;
  color: purple;
}

.my-button:hover {
  border: 3px solid purple;
  background-color: purple;
  color: white;
}

.my-title {
  color: purple;
  text-transform: uppercase;
  font-size: 1.5em;
}

.my-link {
  color: purple;
}

.my-tags {
  font-family: system-ui;
  background-color: teal;
}
.my-tags:hover {
  opacity: 80%;
}

.my-social {
  width: 500px;
  height: 500px;
}

.layout-header {
  text-align: center;
  font-family: system-ui;
  color: black;
  font-size: 1.5em;
}

.pages-block {
  border: 2px solid black;
  color: purple;
}

.pages-link {
  color: purple;
}

.side-link {
  color: purple;
}

.side-input {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.my-authors {
  margin: 10px;
}

.my-button-author {
  border: 3px solid purple;
  background-color: white;
  color: purple;
}

.my-button-author:hover {
  border: 3px solid purple;
  background-color: white;
  color: purple;
}
.comments-style {
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.my-rating-single {
  background-color: orange;
  border: 2px solid black;
  float: right;
  font-size: 1.5em;
  font-weight: lighter;
}

.my-rating {
  background-color: orange;
  border: 2px solid black;
  float: right;
  font-weight: lighter;

  font-size: 1em;
}
