@keyframes navbarfont {
  0% {
      color: #FF2153
  }

  30% {
      color: #F9EB0F
  }

  60% {
      color: #10E7E2
  }

  90% {
      color: #CA7CD8
  }

  100% {
      color: #3968CB
  }
}


.site-footer {
  background-color: $white;
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;  margin-top: 20px;
  padding: 10px;
  text-align: center;
  -webkit-animation: navbarfont 20s infinite;
  animation: navbarfont 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}



